
.card-container
{
    margin-top: 140px;
}

.card-container .col
{
    max-width: 300px;
}

.img-container
{
    height: 100%;
}

.card p 
{
    color: limegreen;
}

p.outOfStock
{
    color: lightcoral;
}